[user]
    name = Marek Grzybek
    email = feimosi@onet.pl
[credential]
    helper = wincred
[core]
    autocrlf = true
[push]
    default = simple
[alias]
    qwe = config --global --get-regexp alias
    a = add
    aa = add --all
    abort = reset --hard HEAD
    b = branch
    ba = branch -a
    bd = branch -d
    bv = branch --verbose
    c = checkout
    cb = checkout -b
    cm = commit -m
    cma = commit -a --amend -C HEAD
    cp = cherry-pick
    d = diff
    f = fetch
    l = log --graph --oneline --decorate
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    lh = log --pretty=format:"%C(green)%h\\ %C(yellow)[%ad]%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
    m = merge
    mtw = merge --no-ff
    mff = merge --ff-only
    p = push
    r = rebase
    s = status --short --branch --
    t = tag -a
    touched = diff-tree -r --name-only --no-commit-id
    up = pull
